<!-- navbar fixed on top-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Developers Dashboard</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a routerLink="/admin">Administrator Panel</a></li>
        <li><a routerLink="/admin/projects">Projects</a></li>
      </ul>
      <form class="navbar-form navbar-left">    
      </form>
    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>

<!-- add margin after navbar -->
<div style="margin-bottom: 80px">
</div>
