<mat-card>
  <mat-card-header>
    <img mat-card-avatar id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Circle-icons-calendar.svg/2000px-Circle-icons-calendar.svg.png">

    <mat-card-title>
      <a [routerLink]=" ['/admin']">
        <i class="material-icons" id="clear">clear</i>
      </a>
      <h4>Panel Configuration</h4>
    </mat-card-title>
    <mat-card-subtitle>
      <h5>Choose options</h5>
    </mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Panel title" required>
    </mat-form-field>


    <mat-form-field>
      <mat-select placeholder="Projects" required [(ngModel)]="selectedProjects">
        <mat-option *ngFor="let project of projects" [value]="project.id">
          {{ project.apiProjectId }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedColumns" placeholder="Column choice" required>
        <mat-option *ngFor="let column of columns" [value]="column">
          {{ column }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Panel type" required [(ngModel)]="selectedPanels">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card-content>

  <mat-card-actions>
    <button [routerLink]=" ['/admin']" mat-button id="Save">Save</button>
    <button [routerLink]=" ['/admin']" mat-button id="Cancel">Cancel</button>

  </mat-card-actions>


</mat-card>